[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vimconfig/plugins/vim-easymotion/vim-easymotion"]
	path = vimconfig/plugins/vim-easymotion/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vimconfig/plugins/vim-syntax-extra"]
	path = vimconfig/plugins/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
[submodule "vimconfig/plugins/Align"]
	path = vimconfig/plugins/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vimconfig/bundle/SimpylFold"]
	path = vimconfig/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vimconfig/plugins/vim-hardtime"]
	path = vimconfig/plugins/vim-hardtime
	url = https://github.com/takac/vim-hardtime
[submodule "vim/plugins/vimtex"]
	path = vim/plugins/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/plugins/nerdtree"]
	path = vim/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/plugins/SimpylFold"]
	path = vim/plugins/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/plugins/vim-hardtime"]
	path = vim/plugins/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "vim/plugins/vim-tmux-focus-events"]
	path = vim/plugins/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
