bin/*
vim/*
C/bin/*

bash/env_bash_profile.sh

# general files
*.swp
*.swo
.DS_Store

*/*.swp
*/*.swo
*/.DS_Store

*/*/*.swp
*/*/*.swo
*/*/.DS_Store

*/*/*/*.swp
*/*/*/*.swo
*/*/*/.DS_Store

*/*/*/*/*.swp
*/*/*/*/*.swo
*/*/*/*/.DS_Store

*/*/*/*/*/*.swp
*/*/*/*/*/*.swo
*/*/*/*/*/.DS_Store


# python files
*.py[cdo]

*/*.py[cdo]

*/*/*.py[cdo]

*/*/*/*.py[cdo]

*/*/*/*/*.py[cdo]

*/*/*/*/*/*.py[cdo]

