[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vimconfig/plugins/vim-easymotion/vim-easymotion"]
	path = vimconfig/plugins/vim-easymotion/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vimconfig/plugins/vim-syntax-extra"]
	path = vimconfig/plugins/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
