<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>switch-to-battery-power</key>
    <string>/Users/johnrizkalla/environment/bash/powerdisconected.sh</string>
    <key>switch-to-ac-power</key>
    <string>/Users/johnrizkalla/environment/bash/powerconnected.sh</string>
</dict>
</plist>
